:root {
  color-scheme: light dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(152, 15, 15);
  color: black;
}

app-root {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(138, 107, 107);
}

h1 {
  color: black;
  margin: 20px;
  padding: 20px;
  font-size: 2rem;
}
.app-content {
  padding-top: 64px; 
  min-height: 100vh;
}

.app-content.no-navbar {
  padding-top: 0;  
}